div.autosuggest-container {
	position: absolute;
	z-index: 1000;
	top: 0;
	visibility: hidden;
	background-color: white;
	border: 1px solid black;
	margin-right: 20px;
	overflow: auto;
	padding: 2px;
	box-sizing: border-box;
	margin-left: -7px;

}
div.autosuggest-container a {
	cursor: default;
	text-decoration: none;
	display: block;
	color: black;
	margin: 0ex;
	border-top: 1px solid silver;
	text-align: justify;
	padding: 3px 4px 4px 4px;
}
div.autosuggest-container a:first-child {
	border-top-width: 0;
} 
div.autosuggest-container a.focussed   {
	color: white;
	background-color: black
}