span.cke_toolbar_break {
	display: none;
	float: none;
}

.cke_button_label.cke_button__documentlanguage_label {
	display: inline-block;
	overflow: hidden;
	width: 1.5em;
}
.cke_button_icon.cke_button__documentlanguage_icon {
	display: none;
}

div.autosuggest-container {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: -10000px;
	visibility: hidden;
	background-color: white;
	border: 1px solid black;
	overflow-x: visible;
	overflow-y: auto;
	padding: 2px;
	margin-left: -7px;
}
div.autosuggest-container a {
	cursor: default;
	text-decoration: none;
	display: block;
	color: black;
	margin: 0ex;
	border-top: 1px solid silver;
	text-align: justify;
	padding: 3px 4px 4px 4px;
	font-size: 88%;
}
div.autosuggest-container a:first-child {
	border-top-width: 0;
} 
div.autosuggest-container a.focussed   {
	background-color: silver;
}


#token-menu a {
	color: #79a697;
	 font-weight: bold;
}
#token-menu a.focussed {
	background-color: #79a697;
	color: white;
}
#token-menu a {
	white-space: nowrap;
}
token, translation, conditional {
	display: inline;
}
token > span {
	display: none;
}

token {
	color: #d75633;	
}
token > span {
	display: inline;
}

token preview {
	display: none;
}
token {
	white-space: nowrap;
}

conditional.user {
	
	display: inline;
	color: blue;
}
conditional.user:before {
	content: '[';
}
conditional.user:after {
	content: ']';
}
conditional.user .conditional.args {
	color: rgba(0,0,0,0);
}
conditional > span.contents:focus {
	outline: none;
}

translation {
	display: inline;
}
pagebreak {
	user-select: all;
	-webkit-user-select: all;
}


table.scenario-table {
	border: 1px solid black;
}
table.scenario-table th {
	background-color: black;
	color: white;
}


div.entity-tooltip {
	visibility: hidden;
}
