.dialog {
  position: absolute;
  left: -100000px;
}
.dialog form {
    display: block;
    font-size: 100%;
}
#knockoutWrapper {
    width:100%;
    height: 100%;
    min-height: 100%;
}

.cke_dialog_ui_vbox.cke_dialog_page_contents {
  height: 100%;
}
.cke_dialog_ui_vbox.cke_dialog_page_contents > table {
  height: 100%;
}

select option::before {
  
  content:'';
  width: 1ex;
  height: 1ex;
  display: inline-block;

}
select option:checked::before {
  sbackground-image: url(http://designshack.net/images/social/twitter.png);
}
div.dialog fieldset {
    background-color: white;
  padding: 0;
  border-width: 0;
}
.dialog form li {
    padding: 0;
    list-style: none;
    margin: 10px 0 0 0;
}
.dialog form label {
    font-weight: normal;
    padding: 3px 0px;
}
.dialog h1{
  background-color: #eeeeee;
  font-size: 100%;
  padding: 1ex 2ex;
  margin: -12px -11px 6px -12px;
  border: 1px solid black;
  border-bottom-width: 1px;
}

.dialog form input[type=radio] + label,
.dialog form input[type=checkbox] + label{
    display: inline;
}
.dialog form input[type=text], 
.dialog form input[type=date],
.dialog form input[type=datetime],
.dialog form input[type=number],
.dialog form input[type=search],
.dialog form input[type=time],
.dialog form input[type=url],
.dialog form input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.dialog form input[type=text]:focus, 
.dialog form input[type=date]:focus,
.dialog form input[type=datetime]:focus,
.dialog form input[type=number]:focus,
.dialog form input[type=search]:focus,
.dialog form input[type=time]:focus,
.dialog form input[type=url]:focus,
.dialog form input[type=email]:focus,
.dialog form textarea:focus, 
.dialog form select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.dialog form ul {
    margin: 0;
    padding: 0;
}
.dialog form li {
    list-style-type: none;
    margin:0;
    padding: 0;
}
.dialog header {
    font-weight: bold;
    margin: 1ex 0 0.25ex 0;
}


.dialog form li textarea,
.dialog form li input[type=text]:first-of-type:last-of-type,
.dialog form li input[type=email]:first-of-type:last-of-type,
.dialog form li select:first-of-type:last-of-type
 {
   width: 100%;
    }

.dialog form table label {
    font-weight: normal
}



.dialog table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    margin:0px;
    padding:0px;
    font-size: 100%;
}

.dialog table td, .dialog table th{
    border-spacing: 0;
    vertical-align:middle;
    color:#000000;
    margin:0px;
    padding: 0.25ex;
    white-space: nowrap
}

.dialog thead th{
    background-color:#eeeeee;
    border:0px solid #000000;
    text-align: center;
    border-width:1px 0px 0px 1px;
    padding: 1ex;

}
.dialog thead tr th:first-child
{
    border-width:1px 0px 0px 0px;
}
.dialog thead td:last-child{
    border-width:0px 0px 0px 1px;
}

.paper-layout form ul {display: table; list-style-type: none; border-top: 1px solid #cccccc; padding: 0; width: 100%;}
.paper-layout form li {display: table-row; padding: 0; margin: 0; }
.paper-layout form li > div {
    display: table-cell;
    padding: 1ex;
    border-bottom: 1px dotted #cccccc;
      
}
    .paper-layout li > div {
      border-right: 1px dotted #cccccc;

    }
    .paper-layout li > div:first-child {
      background-color: #eeeeee;
    }
    .paper-layout li > div:first-child:after {
      content: ':';
    }
    .paper-layout li > div:last-child {
      border-right-width: 0;
      white-space: normal;
    }
    .paper-layout label span {
      display: inline-block;
      border-radius: 1ex;
      -webkit-user-select: none;
      user-select: none;
      padding: 0.5ex 1ex 0.5ex 3ex;
    }
    .paper-layout  label {
      position: relative;
      white-space: nowrap;

    }
    .paper-layout label span {cursor: default;}
    .paper-layout .radio label:after {
      content:'/ ';
    }
    .paper-layout label.clear{
      float: right;
      margin-top: -0.5ex;
    }
    .paper-layout .radio label:first-child:after {
      content:'';
    }
    .paper-layout .radio label:last-child:after {
      content:'';
    }
    .paper-layout .checkbox label:after {
      content:'\00a0 ';
    }
    .paper-layout .checkbox label:last-child:after {
      content:'';
    }
    .paper-layout input[type=radio],
    .paper-layout input[type=checkbox] {
      position: absolute;
      top: 0.5ex;
      left: 0.5ex;
    }
   /* .paper-layout input[type=radio][value=''] {
      position: relative;
      top:0.25ex;
      left:0.25ex;
    }*/
    .paper-layout input[type=radio][value=''] {
      display: none;
    }
    .paper-layout input[checked] + span,
    .paper-layout input:checked + span {
      background-color: #eeeeee;
      
    }
    .paper-layout input[type=radio][value=''] + span {
      background-color: transparent;
      border: 1px solid #ccc;
      padding-left: 1ex;
    }




.tooltip {
    border: 1px solid #999999;
    padding: 0.5ex;
    min-width: 20em;
    background-color: #eeeeee;
    z-index: 10000;
}
.tooltip.hidden {
  visibility: hidden;
}

.tooltip header {
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    text-align: center;
}
.tooltip section {
    display: table;
    width: 100%;


}
.tooltip section dl {
    display: table-row;
    border-bottom: 1px dotted #999999;
}
.tooltip section dl dd,
.tooltip section dl dt {
    display: table-cell;
    padding: 1ex;

}
.tooltip section dl dt {
    border-left: 1px solid #ffffff;
}
.tooltip section dl dd {
    text-align: right;
    background-color: #ffffff
}

.dialog  select {
    min-width: 10ex;
    border-top-width: 0;
    border: 1px solid black;
}
.dialog select option {
      padding: 0.25ex 1ex;
      -webkit-appearance: none;
 }

            
            .dialog ul li strong {
                 display: block;
                padding: 1ex;
                border: 1px solid black;
                border-bottom-width: 0;
            }
            
             
             

            section.compact fieldset {
                padding: 5px 10px;
            }

            section.compact p:last-child {
                margin-bottom: 0;
            }

.container-content {
  overflow:auto;
}

select option:checked,
select option::checked
 {
  background-color: -internal-active-list-box-selection;
  color: -internal-active-list-box-selection-text;
}



table.cke_single_page table[role=presentation][style*='width: 600px'] {
  width: auto !important;
  min-width: 600px;
}

  #templateList form {
    height: 100%;
  }
    #templateList section > label {
      display: block;
    }
    #templateList   header {
      background-color: #eee;
      text-align: center;
    }
    #templateList  input[type=radio] {
      display: none;
    }
    #templateList span {
      display: block;
    }
    #templateList  input[type=radio]:checked ~ span {
      border-radius: 0;
      background-color: #eee;
    }

#templateList {
  height: 100%;
}
#templateList .form-container {
  display: table;
  width: 100%;
  height: 100%;
    min-height: 200px;
}
  #templateList .columns {
    display: table-row;
  }
  #templateList .columns > section {
    display: table-cell;
    padding: 1ex;
    height: 100%;
  }
  #templateList .columns > section:first-child {
    min-width: 25ex;
    border-right: 1px dotted #999;
  }
  #templateList .columns > section:last-child {
    min-width: 70ex;
  }
  #templateList section:first-child  button {
    display: block;
    padding: 1ex;
    margin-bottom: 1ex;
    width: 100%;
    box-sizing: border-box;
  }
    #templateList .template-list {
      min-height: 200px;
      position: relative;
    }
    #templateList .templates-wrapper {
    overflow: auto;
      position: absolute;
      right: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 0 1ex;
    
    }
    #templateList .templates-wrapper label span {
      background-image: url(../img/doc.png);
      background-repeat: no-repeat;
      padding-left: 24px;
      background-position: 2px 4px;
      min-height: 20px;
    }
    #templateList .creating {
      position: absolute;
  bottom: 36px;
  right: 1px;
  left: 1px;
  background-color: #eeeeee;
  padding: 0.5ex;
    }
      #templateList .creating input {
        width: 75%;
        height: 3em;
        padding: 0.5ex;
        box-sizing: border-box;
        border: 1px solid #999;
        background-color: white;
      }
    #templateList .error {
      position: absolute;
      top:36px;
      left: 0;
      bottom: 36px;
      right: 0;
      background-color: white;
      text-align:center;
      padding: 2ex;
    }
    #templateList .error p {
      text-align: center;
      margin: 1em;
    }
      #templateList .error p:first-child {
          margin-top: 10ex;
      }
      #templateList .error pre {
        display: block;
        text-align: center;
        margin: 1em auto;
      }
      #templateList .error button,
      #templateList .creating-new button {/*reset garbage from ckeditor*/
      text-align: center;
      cursor: default;
      color: buttontext;
      padding: 2px 6px 3px;
      border: 2px outset buttonface;
      border-image-source: initial;
      border-image-slice: initial;
      border-image-width: initial;
      border-image-outset: initial;
      border-image-repeat: initial;
      background-color: buttonface;
      box-sizing: border-box;

      }
      #templateList .creating-new button {
        width: 24%;
        height: 3em;
      }
