span.rules {
	color: red;

}

token {
	display: inline-block;
	
}
translation .contents {
	border-bottom: 1px dotted green;
}

token,translation,token *, translation * {
	  -webkit-user-modify: read-only;
	  -moz-user-modify: read-only;
	  user-modify: read-only;
}

.editing token {
	color: green;
}

translation {
	display: inline;
	
}



token, translation, conditional {
	display: inline;
}
token > span {
	display: none;
}

token {
	color: green;	
}
token > span {
	display: inline;
}

token preview {
	display: none;
}
token {
	white-space: nowrap;
}

span[data-entity-node=conditional]::selection,
conditional::selection,
conditional span::selection,
translation span::selection
{
	background-color: #1F497D;
	color: white;
}

span[data-entity-node=token]::selection,
token::selection,
token span::selection
{
	background-color: green;
	color: white;
}





conditional.user {
	
	display: inline;
	color: green;
}
conditional:before {
	content: '[';
}
conditional:after {
	content: ']';
}
conditional[data-not-present] {
  display: none;
}

conditional .conditional.args {
	min-width: 1.5ex;
	color: rgba(0,0,0,0);
}
conditional > span.contents:focus {
	outline: none;
}

translation {
	display: inline;
	
}

table.scenario-table {
	border: 1px solid black;
}
table.scenario-table th {
	background-color: black;
	color: white;
}




.conditional:first-child {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
}
.conditional:last-child,
translation > .args,
translation > .end
 {
  color: rgba(0,0,0,0);
  display: inline-block;
  width: 0;
  overflow: hidden;
;
}

span.conditional:first-child::before {
  position: absolute;
  width: 150%;
  background-image: url(../img/minus.png);
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: left;
  margin: 0 0 0 0ex;
  color: rgba(0,0,0,1);
  overflow: hidden;
  text-indent: 100%;
  content: '';
  height: 100%;
}

conditional.user[data-args*=hidden] span.conditional.args:first-child {
  margin: 0 0.3ex 0 0ex;
}
conditional[data-args*=hidden] span.contents {
	display: none;
}
conditional[data-args*=hidden]:before {
  content: '[';
}
conditional[data-args*=hidden]:after {
  content: ' ]';
}
conditional[data-args*=hidden] span.conditional {
	color: white;
  margin: 0;
 width: 0;
 font-size: 1ex;
}
conditional[data-args*=hidden] span.conditional:first-child::before {
   background-image: url(../img/plus.png);
  margin-left: 10%;
  margin-top: -0.5ex;
}

conditional.user .contents {
	position:relative;
	z-index: 1000;
	outline: 1px dotted green;
}
