span.rules {
	color: red;

}

token {
	display: inline-block;
	
}
translation .contents {
	border-bottom: 1px dotted green;
}

token,translation,token *, translation * {
	  -webkit-user-modify: read-only;
	  -moz-user-modify: read-only;
	  user-modify: read-only;
}

.editing token {
	color: green;
}

translation {
	display: inline;
	
}
args {
	display: inline;
}



token, translation, .conditional {
	display: inline;
}
token > span {
	display: none;
}

token {
	color: green;	
}
token[data-read-only] {
	color: inherit;
}
token > span {
	display: inline;
}

token preview {
	display: none;
}
token {
	white-space: nowrap;
}

span[data-entity-node=conditional]::selection,
.conditional::selection,
.conditional span::selection,
translation span::selection
span[data-entity-node=token][data-read-only]::selection,
token[data-read-only]::selection,
token[data-read-only] span::selection
{
	background-color: #1F497D;
	color: white;
}

span[data-entity-node=token]::selection,
token::selection,
token span::selection
{
	background-color: green;
	color: white;
}







translation {
	display: inline;
	
}

table.scenario-table {
	border: 1px solid black;
}
table.scenario-table th {
	background-color: black;
	color: white;
}




..conditional:first-child {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
}
translation > .args,
translation > .end
 {
  color: rgba(0,0,0,0);
  display: inline-block;
  width: 0;
  overflow: hidden;
  height: 0px;

}




.entity-wrapper, .user.conditional, .user.conditional .end {
	display: inline;
}
.user.conditional > .contents > span {
	display: inline-block;
	min-width: 1em;
}
conditional[data-args*=hidden] .contents {
	display: none;
}
.entity-wrapper[data-entity-node=conditional] > * > .args,
.entity-wrapper[data-entity-node=user] > * > .args
 {
  padding-right: 1em;
  margin-right: -0.01ex;
  background-image: url(../img/minus.png);
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center right;
}
.entity-wrapper[data-entity-node=conditional] conditional[data-args*=hidden] .args,
.entity-wrapper[data-entity-node=user] *[data-args*=hidden] .args
{
	background-image: url(../img/plus.png);
}

.conditional.user .contents {
	position:relative;
	z-index: 1000;
	outline: 1px dotted green;
}

.conditional.user {
	
	display: inline;
	color: green;
	position: relative;
}
.entity-wrapper > .conditional:before {
	content: '[';
}
.entity-wrapper > .conditional:after {
	content: ']';
}
.conditional[data-not-present] {
  display: none;
}
div[data-block-level=true], span[data-block-level=true] {
	display: block;
}
div[data-block-level=true].entity-wrapper .contents, span[data-block-level=true].entity-wrapper .contents {
	display: block;
}

.entity-wrapper[data-block-level=true] > .conditional:before {
	content: '';
}
.entity-wrapper[data-block-level=true] > .conditional:after {
	content: '';
}
.conditional.user .conditional.args,
.conditional.user .conditional.end
 {
 	display: inline-block;
  width: 0;
	color: rgba(0,0,0,0);
}
.conditional > span.contents:focus {
	outline: none;
}

.entity-wrapper[data-block-level=true] .contents.conditional > span:before {
	display: block;
	content: '[';
	position: absolute;
 	left: -1ex;
  	top: 0;
	outline-width: 0;
}

.entity-wrapper[data-block-level=true] .contents.conditional > span:after {
	display: block;
	content: ']';
	position: absolute;
 	right: -1ex;
  	bottom: 0;
	outline-width: 0;
}
.entity-wrapper .contents.conditional > span,
.entity-wrapper .contents.conditional > span > span {
	display: inline;
	outline-width: 0;
}

.entity-wrapper[data-block-level=true] .contents.conditional > span > span {
	display: block;
	outline-width: 0;
}