html body {
	padding: 5mm;
}

#header-data {
	display: none;
}
.attention {
	background-color: rgb(230,0,40);
	color: white;
	padding: 1ex;
}
.attention p {
	margin: 1ex 0 0 0;
}
.attention header {
	font-weight: bold;
	font-size: 1.5em;
}
.about header {
	color: rgb(230,0,40);
	font-weight: bold;
	display: inline-block;
	font-size: 1.5em;
}
li {
	list-style-type: square;
}
section,
p,li,ul {
	text-align: justify;
	margin: 0;
}
h2 {
	margin:0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
h2 + p {
	-webkit-margin-before: 0;
}
h1, h2, h3, h4, h5, p {
  font-size: 1em;
}
h4 {
	font-weight: normal;
	text-decoration: underline;
}
h1 {
  margin: 0.5ex 0;
  border: 2pt solid black;
  padding: 0.5ex;
  text-align: center;
  font-size: 1.5em;
}
h3 {
	font-size: 1em;
	margin: 0;
}

h3, h3 + p, h4, h4 + p {display: inline; margin: 0.25ex;}

table.scenario {
	width: 100%;
	background-color: #cccccc;
	margin: 0.25ex 0 0.25ex 0;
}
table.scenario td {
	width: 50%;
	
}
table.scenario thead {
	background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
color: white;
}
