#header-data {
	position: relative;
}
#header-data header {
	outline: 1px dashed #000;
	background-color: white;
	width: 100%;
}
#header header {
	position: absolute;
	visibility: hidden
}
#footer-data {
	position: relative;
	display: none;
	bottom: 10px;

}
#footer-data footer {
	outline: 1px dashed #000;
	background-color: white;
	width: 100%;
}
