<!DOCTYPE html PUBLIC "-//W3C//DTD MathML 2.0//EN" "mathml2.dtd">
<html lang="en">
<head>
	<base href="">
	<title></title>
	<link href="css/template.css" rel="stylesheet" />
</head>
<body>
	<div contenteditable="false" data-deletable="false" id="header-data" style="display:none">
		<freetext extent="5mm" id="firstPageHeader">
		<root>
			<header contenteditable="true" data-deletable="false">
				<br>
			</header>
		</root>
		</freetext>
		<freetext extent="5mm" id="header">
			<root>
				<header contenteditable="true" data-deletable="false"><br></header>
			</root>
		</freetext>
	</div>

<div contenteditable="false" data-deletable="false" id="footer-data">
	<freetext extent="22mm" id="firstPageFooter">
		<root>
			<footer contenteditable="true" data-deletable="false"> </footer>
		</root>
	</freetext>
	<freetext extent="32mm" id="footer">
		<root>
			<footer contenteditable="true" data-deletable="false">Page <pagenumber contenteditable="false" data-deletable="false">#</pagenumber></footer>
		</root> </freetext></div>
	<freetext contenteditable="true" data-deletable="false" id="body">
			<h1>Heading</h1>
			<p>Text</p>


	</freetext>
</body>
</html>
