<!DOCTYPE html PUBLIC "-//W3C//DTD MathML 2.0//EN" "mathml2.dtd">
<html lang="en">
<head>
	<base href="../">
	<title></title>
	<link href="css/template.css" rel="stylesheet" />
	<style>
	body {
		font-size: 7.5pt;
		color: #003745;
	}
		h3,p {
			margin: 0.1em;
		}
		h1 {
			color: black;
			margin-bottom: 1em;
		}
		td, th {
			text-align: left;
		}
		table {
			border-spacing: 0;
			width: 100%;
		}
		table h3 {
			margin: 0;
			padding: 0.1em 0.2em;
		}
		table h3 {
			color: white;
			background-color: #6c5d57;
			margin: -0.1ex;
		}
		header {
			background-color: #cccccc;
			font-weight: bold;
			padding: 0.5em;
		}
		td header {
			margin: 0.1em;
		}
		ul {
			  margin: 0;
  			  padding: 0;
		}
		li {
			position: relative;
			list-style-type: none;
			margin: 0.1em;

			
		}
		ul {
			margin-left: 1em;
		}
		li:before {
			content: '\25a0';
			color: red;
			position: absolute;
			margin-left: -1em;
			margin-top: -0.1em;
		}

		li li:before {
			content: '\2013';
		}
		td, th {
			border: 1px solid #6c5d57;
			padding: 0.1em;
		}
		table table,
		table table,
		table:first-of-type td,
		table:first-of-type th
		 {
			border-width: 0;
		}
		table table td,
		table table th {
			text-align: center
		}
		div.arrow {
				  width: 0;
				  height: 0;
				  border-left: 100px solid transparent;
				  border-right: 100px solid transparent;
				  border-top: 20px solid #eee;
				  margin: 0.5em auto;
				  text-align: center;
		}

	</style>
</head>
<body>
	<div contenteditable="false" data-deletable="false" id="header-data" style="display:none">
		<freetext extent="5mm" id="firstPageHeader">
		<root>
			<header contenteditable="true" data-deletable="false">
				<br>
			</header>
		</root>
		</freetext>
		<freetext extent="5mm" id="header">
			<root>
				<header contenteditable="true" data-deletable="false"><br></header>
			</root>
		</freetext>
	</div>

<div contenteditable="false" data-deletable="false" id="footer-data" style="display:none">
	<freetext extent="22mm" id="firstPageFooter">
		<root>
			<footer contenteditable="true" data-deletable="false"> </footer>
		</root>
	</freetext>
	<freetext extent="32mm" id="footer">
		<root>
			<footer contenteditable="true" data-deletable="false">Page <pagenumber contenteditable="false" data-deletable="false">#</pagenumber></footer>
		</root> </freetext></div>
	<freetext contenteditable="true" data-deletable="false" id="body">
		<div>
			<img src="templates/deka/logo.png" style="float: right ;width: 75px; height: 75px"/>
	<h1>
		
		Produktinformationsblatt &uuml;ber Finanzinstrumente<br/>nach Wertpapierhandelsgesetz

	</h1>
	
	<p>
		Stand: 11.05.2015
	</p>
	<header>
		Dieses Dokument gibt einen &Uuml;berblick &uuml;ber wesentliche Eigenschaften, insbesondere Struktur und Risiken, der Anlage. Eine aufmerksame Lekt&uuml;re dieser Information wird empfohlen.
	</header>
	<h2>
		DekaBank Discount-Zertifikat 06/2016 bezogen auf den EURO STOXX 50&reg;
	</h2>
	<table cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td>
						<strong>Emittentin:</strong>
				</td>
				<td>
						<strong>DekaBank Deutsche Girozentrale (&bdquo;DekaBank&ldquo;)</strong>
				</td>
				<td>
						<strong>ISIN:</strong>
				</td>
				<td>
						<Strong>DE000DK0FDM0</strong>
				</td>
			</tr>
			<tr>
				<td>
						(Herausgeber der Schuldverschreibung)
				</td>
				<td>
						<strong>Branche: Kreditinstitut, www.dekabank.de</strong>
				</td>
				<td>
						<strong>WKN:</strong>
				</td>
				<td>
						<strong>DK0FDM</strong>
				</td>
			</tr>
			<tr>
				<td>
						<strong>B&ouml;rsennotierung:</strong>
				</td>
				<td>
					<strong>Freiverkehr der B&ouml;rse Frankfurt Zertifikate AG</strong>
				</td>
				<td>
						<strong>Produktgattung:</strong>
				</td>
				<td>
						<strong>Discount-Zertifikat</strong>
				</td>
			</tr>
		</tbody>
	</table>
	<h3>
		1. Produktbeschreibung / Funktionsweise
	</h3>
	<ul>
		<li>
		Dieses Discount-Zertifikat ist eine Schuldverschreibung der DekaBank auf den EURO STOXX 50&reg;-Kursindex mit fester Laufzeit.
		</li>
		<li>
			
			Der Emissionspreis des Discount-Zertifikats enth&auml;lt im Vergleich zu einer Direktinvestition in die Bestandteile des Basiswerts einen Abschlag (&bdquo;Discount&ldquo;).
			
		</li>
		<li>
			
			Die R&uuml;ckzahlung des Zertifikats am R&uuml;ckzahlungstermin ist von der Wertentwicklung des Basiswerts abh&auml;ngig. Ausgehend vom Cap, der bei 2.600,00 Punkten (72,73 % des Startwerts) liegt, ergeben sich zwei Varianten:
			
			<ul>
				<li>
				Schlie&szlig;t der Kurs des Basiswerts am Bewertungstag (Referenzpreis) auf oder &uuml;ber dem Cap, erfolgt die R&uuml;ckzahlung zum Capbetrag.
				
				</li>
				<li>
					
				Schlie&szlig;t der Kurs des Basiswerts am Bewertungstag (Referenzpreis) unter dem Cap, entspricht der R&uuml;ckzahlungsbetrag dem mit dem Bezugsverh&auml;ltnis multiplizierten Referenzpreis. Der R&uuml;ckzahlungsbetrag kann in diesem Fall geringer als der Emissionspreis des Zertifikats ausfallen. F&uuml;r den Anleger w&auml;ren in diesem Fall Verluste des eingesetzten Kapitals die Folge.
			
				</li>
			</ul>
		</li>
		<li>
			Dieses Zertifikat richtet sich an Anleger mit einem Anlagehorizont bis Juni 2015, die </p>
			<ul>
				<li>
					
					durch den Discount auch bei stagnierenden oder leicht fallenden Kursen des EURO STOXX 50&reg;-Kursindex einen positiven Ertrag erzielen wollen und daf&uuml;r eine Begrenzung der Rendite (Ertrag einer Kapitalanlage) durch den Capbetrag in Kauf nehmen sowie
				
				</li>
				<li>
					
					am Bewertungstag den Schlusskurs des EURO STOXX 50&reg;-Kursindex auf oder &uuml;ber dem Cap erwarten.
					
				</li>
			</ul>
		</li>
	</ul>
	
	<table cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<th colspan="2">
					<h3>
						2. Produktdaten
					</h3>
				</th>
			</tr>
			<tr>
			</tr>
			<tr>
				<td>Beginn des &ouml;ffentlichen Angebots</td>
				<td>15.05.2015</td>
			</tr>
			<tr>
				<td>Zeichnungsfrist</td>
				<td>15.05.2015 bis 15.05.2015 (15:00 Uhr Frankfurt am Main), vorbehaltlich einer Verl&auml;ngerung oder Verk&uuml;rzung.</td>
			</tr>
			<tr>
				<td>Emissionstag / Emissionsvaluta</td>
				<td>18.05.2015 / 20.05.2015 (Zeitpunkt der Belastung)</td>
			</tr>
			<tr>
				<td>Bewertungstag</td>
				<td>17.06.2016</td>
			</tr>
			<tr>
				<td>R&uuml;ckzahlungstermin</td>
				<td>24.06.2016</td>
			</tr>
			<tr>
				<td>Emissionspreis</td>
				<td>25,52 EUR je Zertifikat</td>
			</tr>
			<tr>
				<td>Festgelegte St&uuml;ckelung bzw. kleinste handelbare Einheit</td>
				<td>1 Zertifikat (St&uuml;cknotierung)</td>
			</tr>
			<tr>
				<td>St&uuml;ckzinsberechnung</td>
				<td>Nein, keine Verzinsung</td>
			</tr>
			<tr>
				<td>DekaBank Depot</td>
				<td>Nein</td>
			</tr>
			<tr>
				<td>Basiswert</td>
				<td>Bezugswert, der dem Zertifikat zugrunde liegt: EURO STOXX 50&reg;-Kursindex (ISIN: EU0009658145)</td>
			</tr>
			<tr>
				<td>Startwert / Referenzpreis</td>
				<td>3.575,00 Punkte / Schlusskurs des Basiswerts am Bewertungstag</td>
			</tr>
			<tr>
				<td>Capbetrag</td>
				<td>Maximaler R&uuml;ckzahlungsbetrag: 26,00 EUR</td>
			</tr>
			<tr>
				<td>Cap</td>
				<td>Obere Kursgrenze: 2.600,00 Punkte</td>
			</tr>
			<tr>
				<td>Bezugsverh&auml;ltnis</td>
				<td>0,01 je Festgelegte St&uuml;ckelung</td>
			</tr>
			<tr>
				<td>Kapitalschutz</td>
				<td>Nein</td>
			</tr>
		</tbody>
	</table>
	<h3>
		3. Risiken
	</h3>
	<p>
		Die nachfolgend genannten Risiken k&ouml;nnen dazu f&uuml;hren, dass der Anleger einen Verlust erleidet. Auch ein Totalverlust des eingesetzten Kapitals kann nicht ausgeschlossen werden.
	</p>
	<h3>
		Emittentenrisiko / Bonit&auml;tsrisiko
	</h3>
	<p>
		Der Anleger ist dem Risiko der Insolvenz, das hei&szlig;t einer &Uuml;berschuldung oder Zahlungsunf&auml;higkeit der DekaBank ausgesetzt. Ein Totalverlust des eingesetzten Kapitals ist m&ouml;glich.
	</p>
	<h3>
		Risiken zum Laufzeitende
	</h3>
	<ul>
	<li>
		
		Es tritt bei R&uuml;ckzahlung des Zertifikats ein Verlust ein, wenn der R&uuml;ckzahlungsbetrag geringer ist als der individuelle Kaufpreis des Zertifikats (unter Ber&uuml;cksichtigung etwaiger Kosten).
		
	</li>
	<li>
		Ung&uuml;nstigster Fall: Totalverlust des eingesetzten Kapitals, wenn der Referenzpreis einen Wert von Null hat.
	</li>
	<li>
		Der Anleger nimmt an einer positiven Entwicklung des Basiswerts in jedem Fall nur maximal bis zur H&ouml;he des Cap teil. Ein bestimmter R&uuml;ckzahlungsbetrag wird nicht garantiert.
	</li>
	</ul>
	
	<h3>
		Kurs&auml;nderungsrisiko
	</h3>
	<p>
		Der Anleger tr&auml;gt das Risiko, dass der Wert dieses Zertifikats w&auml;hrend der Laufzeit insbesondere durch die unter &bdquo;4. Verf&uuml;gbarkeit&ldquo; genannten marktpreisbestimmenden Faktoren f&auml;llt und auch deutlich unter dem Erwerbspreis liegen kann.
	</p>
	<h3>
		Allgemeines Marktpreisrisiko
	</h3>
	<p>
		Der Anleger tr&auml;gt das Risiko, dass der Marktpreis dieses Zertifikats als Folge der allgemeinen Entwicklung des Marktes f&auml;llt. Der Anleger erleidet einen Verlust, wenn er unter dem Erwerbspreis ver&auml;u&szlig;ert.
	</p>
	<h3>
		Liquidit&auml;tsrisiko
	</h3>
	<p>
		Der Anleger tr&auml;gt das Risiko, dass bei diesem Zertifikat &uuml;berhaupt kein oder kaum b&ouml;rslicher oder au&szlig;erb&ouml;rslicher Handel stattfindet. Deshalb kann das Zertifikat entweder gar nicht oder nur mit gr&ouml;&szlig;eren Preisabschl&auml;gen ver&auml;u&szlig;ert werden.
	</p>
		<h3>
			4. Verf&uuml;gbarkeit
		</h3>
		<ul>
		<li>
			Nach der Emissionsvaluta kann das Zertifikat in der Regel b&ouml;rslich oder au&szlig;erb&ouml;rslich gekauft oder verkauft werden (Letzter Handelstag: 16.06.2016).
		
		</li>
		<li>
			Die Emittentin wird f&uuml;r das Zertifikat unter normalen Marktbedingungen indikative (unverbindliche) Erwerbs- und Ver&auml;u&szlig;erungskurse stellen (ohne hierzu rechtlich verpflichtet zu sein). In au&szlig;ergew&ouml;hnlichen Marktsituationen (z. B. vorzeitiger B&ouml;rsenschluss oder Aussetzen des Handels) oder bei technischen St&ouml;rungen (z. B. Handelsst&ouml;rung oder B&ouml;rsenst&ouml;rung) kann ein Kauf bzw. Verkauf des Zertifikats vor&uuml;bergehend erschwert oder nicht m&ouml;glich sein.
		</li>
	</ul>
		<h3>
			Marktpreisbestimmende Faktoren
		</h3>
		<p>
			Folgende wesentliche marktpreisbestimmende Faktoren k&ouml;nnen sich auf den Kurs des Zertifikats auswirken sowie sich gegenseitig verst&auml;rken oder aufheben:
		</p>
		<table cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<th>
						<h3>
							Zertifikatekurs f&auml;llt, wenn
						</h3>
					</th>
					<th>
						<h3>
							Zertifikatekurs unver&auml;ndert, wenn
						</h3>
					</th>
					<th>
						<h3>
							Zertifikatekurs steigt, wenn
						</3>
					</td>
				</tr>
				<tr>
					<td>Kurs des Basiswerts f&auml;llt</td>
					<td>Kurs des Basiswerts unver&auml;ndert</td>
					<td>Kurs des Basiswerts steigt</td>
				</tr>
				<tr>
					<td>Marktzins steigt</td>
					<td>Marktzins unver&auml;ndert</td>
					<td>Marktzins f&auml;llt</td>
				</tr>
				<tr>
					<td>Schwankungsintensit&auml;t des Kurses des Basiswerts steigt</td>
					<td>Schwankungsintensit&auml;t des Kurses des Basiswerts unver&auml;ndert</td>
					<td>Schwankungsintensit&auml;t des Kurses des Basiswerts f&auml;llt</td>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<td>
						<h3>
							5. Chancen und beispielhafte Szenariobetrachtung
						</h3>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<table>
							<tr>
								<td colspan="2"><header>Referenzpreis am 17.06.2016 auf/&uuml;ber Cap (2.600,00 Punkte)?</header></td>

							</tr>
							<tr>
								<td width="50%">Ja</td>
								<td>Nein</td>
							</tr>
							<tr>
								<td><div class="arrow"></div></td>
								<td><div class="arrow"></div></td>
							</tr>
							<td>
							<header>Am 24.06.2016 R&uuml;ckzahlung des Zertifikats zum Capbetrag (26,00 EUR</header>
						</td>
						<td>
							<header>Am 24.06.2016 erfolgt die R&uuml;ckzahlung des Zertifikats zum Referenzpreis multipliziert mit dem Bezugsverh&auml;ltnis.</header></td>
		
						</td>

						</table>
						
						
				

				</tr>
				<tr>
					<td>Annahmen: Kauf des Zertifikats innerhalb der Zeichnungsfrist im Rahmen eines Festpreisgesch&auml;fts zu den unter &bdquo;2. Produktdaten&ldquo; genannten Bedingungen, Startwert ist 3.575,00 Punkte, Cap bei 72,73 % vom Startwert (2.600,00 Punkte). Das Bezugsverh&auml;ltnis betr&auml;gt 0,01. Anlagebetrag in H&ouml;he von 10.003,84 EUR (392 Zertifikate), Depotkosten in H&ouml;he von 0,20 % des Anlagebetrags (20,01 EUR). Die dem Anleger tats&auml;chlich entstehenden Kosten k&ouml;nnen (u. U. sogar erheblich) von den in dieser Szenariobetrachtung zugrunde gelegten Kosten abweichen.</td>

				</tr>

			</tbody>
		</table>
		
		<table cellspacing="0" cellpadding="0">
			<thead>
					<tr>
					<td>Referenzpreis</td>
					<td>Erl&auml;uterung</td>
					<td>Bruttobetrag*</td>
					<td>Nettobetrag**</td>
				</tr>



			</thead>
			<tbody>
				
				<tr>
					<td>3.960,00 Punkte (&gt; Cap)</td>
					<td>R&uuml;ckzahlung zum Capbetrag</td>
					<td>10.192,00 EUR</td>
					<td>10.171,99 EUR</td>
				</tr>
				<tr>
					<td>2.500,00 Punkte (&lt; Cap)</td>
					<td>R&uuml;ckzahlung zum Referenzpreis multipliziert mit dem Bezugsverh&auml;ltnis.</td>
					<td>9.800,00 EUR</td>
					<td>9.779,99 EUR</td>
				</tr>
				<tr>
					<td>2.300,00 Punkte (&lt; Cap)</td>
					<td>R&uuml;ckzahlung zum Referenzpreis multipliziert mit dem Bezugsverh&auml;ltnis.</td>
					<td>9.016,00 EUR</td>
					<td>8.995,99 EUR</td>
				</tr>
				<tr>
					<td>1.650,00 Punkte (&lt; Cap)</td>
					<td>R&uuml;ckzahlung zum Referenzpreis multipliziert mit dem Bezugsverh&auml;ltnis.</td>
					<td>6.468,00 EUR</td>
					<td>6.447,99 EUR</td>
				</tr>
			</tbody>
		</table>
		<p><small>
			* R&uuml;ckzahlung bezogen auf den Anlagebetrag in H&ouml;he von 10.003,84 EUR; ** Bruttobetrag abzgl. Kosten bezogen auf den Anlagebetrag in H&ouml;he von 10.003,84 EUR Die oben aufgef&uuml;hrten Kurse und Berechnungen sind beispielhaft und keine Indikation f&uuml;r k&uuml;nftige Ergebnisse.
		</small>
		</p>
		<h3>
			6. Kosten / Vertriebsverg&uuml;tungen
		</h3>
		<p>
			Die Erwerbs- und Ver&auml;u&szlig;erungspreise des Zertifikats basieren auf internen Preisbildungsmodellen der Emittentin bzw. gegebenenfalls des Instituts, &uuml;ber welches es erworben bzw. ver&auml;u&szlig;ert wird. Erwerbs- und Ver&auml;u&szlig;erungspreise k&ouml;nnen eine Ertragsmarge und gegebenenfalls Kosten z. B. f&uuml;r Strukturierung, Absicherung und Vertrieb enthalten, welche die Ertragschancen f&uuml;r den Anleger mindern. Der Erwerb bzw. die Ver&auml;u&szlig;erung (<stromg>&bdquo;Transaktion&ldquo;</strong>) kann im Rahmen eines Festpreisgesch&auml;ftes oder eines Kommissionsgesch&auml;fts erfolgen. &Uuml;ber die H&ouml;he der Vertriebsverg&uuml;tungen sowie die Kosten informiert die Vertriebsstelle.
		</p>
		<h3>
			Erwerbs- und Ver&auml;u&szlig;erungskosten / Laufende Kosten
		</h3>
		<ul>
		<li>
			<strong>Erwerbs- und Ver&auml;u&szlig;erungskosten:</strong> Wird das Gesch&auml;ft zwischen dem Anleger und der Bank/Sparkasse zu einem festen oder bestimmbaren Preis vereinbart (Festpreisgesch&auml;ft), so umfasst dieser Preis alle Erwerbskosten und enth&auml;lt einen Erl&ouml;s f&uuml;r die Bank/Sparkasse. Andernfalls wird das Gesch&auml;ft im Namen der Bank/Sparkasse mit einem Dritten f&uuml;r Rechnung des Anlegers abgeschlossen (Kommissionsgesch&auml;ft). Entgelte sowie fremde Kosten und Auslagen (z. B. Handelsplatzentgelte) werden in der Wertpapierabrechnung gesondert ausgewiesen. Beim Erwerb des Zertifikats fallen Erwerbskosten von bis zu 1,00 % des Kurswertes an. Die Mindestkosten betragen regelm&auml;&szlig;ig bis zu 50,00 EUR. Die bei einem sp&auml;teren Verkauf anfallenden Kosten (beispielsweise Geb&uuml;hren der ausf&uuml;hrenden Stelle oder Handelsplatzentgelte) sind ebenfalls vom Anleger zu tragen.
		</li>
		<li>
			<strong>Laufende Kosten:</strong> F&uuml;r die Verwahrung der Wertpapiere im Anlegerdepot fallen f&uuml;r den Anleger die mit der verwahrenden Bank/Sparkasse vereinbarten Kosten an (Depotentgelt). N&auml;heres entnehmen Sie bitte dem Preis- und Leistungsverzeichnis der ma&szlig;geblichen Bank/Sparkasse.
			
		</li>
	</ul>
		<h3>
			Vertriebsverg&uuml;tungen / Zuwendungen <span style="font-weight: normal">(der Emittentin an die Vertriebsstelle)</span>
		</h3>
		<ul>
		<li>
			
			<strong>Vertriebsverg&uuml;tung (einmalig):</strong> bei Erwerb innerhalb der Zeichnungsfrist je Zertifikat: 0,06 EUR.
			
		</li>
		<li>
		<p>
			<strong>Sachleistungen:</strong> Zus&auml;tzlich k&ouml;nnen die Vertriebspartner Sachleistungen, insbesondere die Bereitstellung von Informationsmaterial und Werbemitteln zu den Zertifikaten, Zugang zum elektronischen Vertriebssystem und Schulungsangebote erhalten.
		</p>
	</li>
</ul>
		<h3>
			7. Besteuerung
		</h3>
		<p>
			Einmalige oder laufende Ertr&auml;ge sowie Gewinne aus der Ver&auml;u&szlig;erung, Einl&ouml;sung bzw. R&uuml;ckzahlung unterliegen grunds&auml;tzlich der Abgeltungsteuer (25,00 %) sowie dem Solidarit&auml;tszuschlag (5,50 % auf den Abgeltungsteuersatz) und gegebenenfalls der Kirchensteuer.
		</p>
		<p>
			Hinweis: Die steuerliche Behandlung unterliegt Ver&auml;nderungen und h&auml;ngt von den pers&ouml;nlichen Verh&auml;ltnissen des Anlegers ab. Anleger sollten zur Kl&auml;rung steuerlicher Auswirkungen bei Erwerb, Halten und der Ver&auml;u&szlig;erung bzw. R&uuml;ckzahlung des Zertifikats einen Steuerberater einschalten.
		</p>
	<h3>
		8. Sonstige Hinweise
	</h3>
	<p>
		Die Emittentin ist dem Sicherungssystem der deutschen Sparkassen-Finanzgruppe angeschlossen. N&auml;heres unter www.dsgv.de.
	</p>
	<p>
		Die in diesem Produktinformationsblatt enthaltenen Produktinformationen stellen keine Empfehlung zum Kauf oder Verkauf des Produktes dar und k&ouml;nnen eine individuelle Beratung durch die Bank oder einen Berater des Anlegers nicht ersetzen. Dieses Produktinformationsblatt enth&auml;lt lediglich eine zusammenfassende Kurzdarstellung der wesentlichen Eigenschaften des Produktes. F&uuml;r vollst&auml;ndige Informationen, insbesondere zur Struktur und zu den mit einer Investition in das Produkt verbundenen Risiken, sollten potenzielle Anleger den jeweiligen Prospekt der DekaBank einschlie&szlig;lich etwaiger Nachtr&auml;ge sowie die Endg&uuml;ltigen Bedingungen dieses Produktes lesen. Diese Dokumente sind bei der Emittentin w&auml;hrend des &ouml;ffentlichen Angebots kostenlos erh&auml;ltlich oder k&ouml;nnen unter www.dekabank.de heruntergeladen werden.
	</p>
	<p>
		Auf besondere Verkaufsbeschr&auml;nkungen und Vertriebsvorschriften in den verschiedenen Rechtsordnungen wird hingewiesen. Insbesondere d&uuml;rfen die hierin beschriebenen Finanzinstrumente weder innerhalb der Vereinigten Staaten von Amerika noch an bzw. zugunsten von U.S.-Personen zum Kauf oder Verkauf angeboten werden.
	</p>
	<footer>
		Der EURO STOXX 50&reg; Index und die im Indexnamen verwendeten Marken sind geistiges Eigentum der STOXX Limited, Z&uuml;rich, Schweiz und/oder ihrer Lizenzgeber. Die auf dem Index basierende Schuldverschreibung ist in keiner Weise von STOXX und/oder ihren Lizenzgebern gef&ouml;rdert, herausgegeben, verkauft oder beworben und weder STOXX noch ihre Lizenzgeber tragen diesbez&uuml;glich irgendwelche Haftung.
	</footer>
	</freetext>
</body>
</html>