INFORMATIONS CLÉS POUR L’INVESTISSEUR

Ce document fournit des informations essentielles aux investisseurs de ce produit. Il ne s’agit pas d’un document
promotionnel. Les informations qu’il contient vous sont fournies conformément à une obligation légale, afin de vous
aider à comprendre en quoi consiste un investissement dans ce produit, quels sont les risques, coûts, gains et
pertes potentiels qui y sont associés et pour vous permettre de comparer ce produit avec d’autres produits.

Ces informations clés pour l’investisseur sont exactes et à jour au 20/05/2015.

[Athena] ISIN : FR0012657435

Producteur : XXX, soumis à l’autorité de l’Autorité des Marchés Financiers (AMF), contact@contact.fr

Quel est ce produit ?

Type : Produit d’investissement de détail sous forme d’instrument financier, assimilable à une obligation de droit
français, présentant un risque de perte en capital en cours de vie et à l’échéance

Cible et objectifs d’investissement :

[Athena] est destiné aux investisseurs de détail dont les objectifs d’investissement sont cohérents avec :

un horizon de placement pouvant aller jusqu’à 10 ans, le produit pouvant néanmoins être remboursé par
anticipation chaque année selon le niveau annuel de l’indice



l’anticipation d’une hausse ou une stagnation de l'indice Euro Stoxx 50 par rapport à son niveau initial



l’acceptation d’un risque de perte en capital en cas de sortie en cours de vie (à l’initiative de l’investisseur) ou à
l’échéance des 10 ans en cas de baisse de l’indice Euro Stoxx 50 (hors dividendes) de plus de 40% par rapport à
son niveau initial



Garantie en capital à l’échéance : Non, l’investisseur peut perdre jusqu’à la totalité du capital investi.

Emetteur : SG Issuer Garant : Société Générale (Fitch A, Moody’s A2, Standard & Poor’s A)

Sous-jacent : Indice Euro Stoxx 50. Cet indice regroupe les actions des 50 principales sociétés de la zone Euro
sélectionnées pour leur capitalisation boursière et leur représentativité économique. L’investisseur ne bénéficie pas
des dividendes détachés par les actions composant l’indice Euro Stoxx 50.

Fonctionnement :

Le terme « capital investi » désigne la valeur nominale du produit, soit 1 000 €. Les gains ou pertes résultant
de l’investissement sur ce produit sont calculés sur la base de cette valeur nominale, hors frais et hors fiscalité
applicables au cadre d’investissement.

Mécanisme automatique de remboursement anticipé : A chaque date d’observation annuelle, si l’indice est
stable ou en hausse par rapport à son niveau initial, [Athena] est automatiquement remboursé par anticipation et
l’investisseur reçoit l’intégralité de son capital investi augmenté d’un gain de 7,00% par année écoulée (soit un
Taux de Rendement Actuariel Annuel Brut maximum de 6,79%) à la date de remboursement anticipé. Sinon, le
placement se poursuit jusqu'à l’échéance finale.

Mécanisme de remboursement à l’échéance finale : A l’échéance des 10 ans (06 mai 2025), si [Athena] n'a pas
fait l'objet d'un remboursement anticipé :

Cas favorable : si l’indice est stable ou en hausse par rapport à son niveau initial, l’investisseur reçoit (le 06 mai
2025) l’intégralité de son capital investi augmentée d’un gain de 7,00% par année écoulée depuis l’origine, soit
148,00% (ce qui correspond à un Taux de Rendement Actuariel Annuel Brut de 5,01%)



Cas médian : sinon, si l'indice enregistre une baisse de moins de 40% (inclus) par rapport à son niveau initial,
l'investisseur reçoit (le 06 mai 2025) l'intégralité de son capital investi.



Cas défavorable : sinon, si l’indice Euro Stoxx 50 enregistre une baisse de plus de 40% par rapport à son
niveau initial, l’investisseur reçoit (le 06 mai 2025) son capital investi diminué de la baisse enregistrée par
l’indice. Dans le cas le plus défavorable, l’investisseur peut perdre jusqu’à la totalité du capital investi.



Calendrier :

Niveau initial : cours de clôture de l'indice Euro Stoxx 50 relevé le 24/04/2015

Niveaux annuels de l’indice : cours de clôture de l'indice Euro Stoxx 50 aux dates suivantes:

Année 1

Année 2

Dates de remboursement anticipé potentiel : 04 mai 2016 ; 04 mai 2017 ; 04 mai 2018 ; 06 mai 2019 ; 06 mai 2020
; 05 mai 2021 ; 04 mai 2022 ; 04 mai 2023 ; 06 mai 2024

Date d’échéance finale : 06 mai 2025

25/04/2016

24/04/2017

Année 3

Année 4

24/04/2018

24/04/2019

Année 5

Année 6

24/04/2020

26/04/2021

Quels sont les risques et que puis-je obtenir en contrepartie grâce à ce produit ?

Avantages

Chaque année, de l’année 1 à l’année 9, on observe
le niveau de l’indice Euro Stoxx 50 (niveau annuel)
par rapport à son niveau initial. Si l’indice est stable
ou en hausse, le mécanisme automatique de
remboursement anticipé est activé.

L’investisseur reçoit alors l’intégralité de son capital
investi augmentée d’un gain de 7,00% par année
écoulée, soit un Taux de Rendement Actuariel
Annuel Brut maximum de 6,79%, ce qui peut être
considéré comme un avantage si l’indice Euro Stoxx
50 enregistre une hausse annuelle inférieure à 7,00%.

À l’échéance des 10 ans, si l’indice Euro Stoxx 50 est
stable ou en hausse par rapport à son niveau initial,
l’investisseur reçoit l’intégralité de son capital investi
augmenté d’un gain de 7,00% par année écoulée, soit
170,00% (Taux de Rendement Actuariel Annuel Brut
de 5,43%).



Le produit présente un risque de perte en capital en
cours de vie et à l’échéance. En effet, à l’échéance
des 10 ans, l’investisseur subit une perte en capital si
l’indice Euro Stoxx 50 a enregistré une baisse de plus de
40%. Dans le cas le plus défavorable, l’investisseur peut
perdre jusqu’à la totalité du capital investi. Par ailleurs, en
cas de sortie du placement en cours de vie à l’initiative
de l’investisseur, il est impossible de mesurer a priori le
gain ou la perte possible, le montant du remboursement
dépendant alors des paramètres de marché du jour.



Le placement ne bénéficie pas des éventuels dividendes
des actions composant l’indice Euro Stoxx 50.



En cas de hausse de l’indice supérieure à 7,00% par an,
l’investisseur ne bénéficie que d’une hausse partielle en
raison du plafonnement des gains.

La durée du placement n’est pas connue à l’avance
(comprise entre 1 et 10 ans).



En cours de vie du placement, l’investisseur est exposé
à une éventuelle dégradation de la qualité de crédit
de l’émetteur et du garant (qui induit un risque sur la
valeur de marché du produit) ou un éventuel défaut de
l’émetteur et/ou du garant (qui induit un risque sur le
remboursement).



Sinon, le capital investi n’est exposé à un risque de
perte que si l’indice Euro Stoxx 50 a baissé de plus de
40%.

Indicateur de risque global et limites

La catégorie de risque associée à ce produit pourra évoluer dans le temps.

Indicateur global : 3 / C

Cet indicateur associe le score du risque de marché à celui du risque de l’émetteur/garant, tels que détaillés ci-dessous :

Risque plus faible

Rendement potentiellement
plus faible

1

La catégorie de risque de marché est obtenue en simulant la
performance du produit selon une méthodologie prédéfinie.

Risque de marché

2

3

4

Risque plus élevé

Rendement potentiellement plus
élevé

5

6

7

Risque plus faible

Rendement potentiellement
plus faible

A

La catégorie de risque de l’émetteur/du garant est déterminée

Pour plus de détails sur les risques du produit, merci de vous référer au prospectus relatif à [Athena] en date du 14/
11/2013, approuvé par la CSSF sous le numéro de visa C-14879 et conforme à la Directive 2003/71/EC (Directive
Prospectus) telle qu’amendée (incluant l’amendement fait par la Directive 2010/73/EU). Le prospectus ainsi que
le résumé du prospectus en français sont disponibles sur le site “http://prospectus.socgen.com”, sur le site de
la Bourse de Luxembourg ("http://www.bourse.lu"), et/ou peuvent être obtenus gratuitement auprès de Société
Générale, sur simple demande. Le résumé du prospectus est disponible sur le site de l’AMF (www.amf-france.org).

Scénarios

Les données chiffrées utilisées dans ces exemples n'ont qu'une valeur indicative et informative, l'objectif étant
de décrire le mécanisme du produit pour une souscription au lancement à sa valeur nominale (prix égal à 100%).
Elles ne préjugent en rien de résultats futurs. Ces scénarios ne sont pas nécessairement aussi probables les uns
que les autres.

Scénario défavorable : baisse de l’indice supérieure à 40% à l’échéance

A l’échéance des 10 ans, l’indice Euro Stoxx 50
enregistre une baisse de plus de 40% par rapport
à son niveau initial (-45%), soit une valeur finale de
l’indice égale à 55% de son niveau initial.



0

1

100%



L’investisseur reçoit alors la valeur finale de l’indice
soit 55% de son capital investi (équivalent à un Taux
de Rendement Actuariel Annuel Brut de - 5,78%).

Niveau
annuel

Niveau
initial

Scénario médian : baisse de l’indice inférieure à 40% à l’échéance

A l’échéance des 10 ans, l’indice Euro Stoxx 50
enregistre une baisse inférieure à 40% par rapport à
son niveau initial (-35%).



1

0

100%

Dans cet exemple, l’investisseur reçoit l’intégralité
de son capital investi (soit un Taux de Rendement
Actuariel Annuel Brut de 0,00% contre un Taux de
Rendement Actuariel Annuel Brut de -4,20% en cas
d'investissement direct dans l'indice Euro Stoxx 50).



Niveau
initial

Niveau
annuel

Scénario favorable : hausse de l’indice à l’issue de l’année 1

A l’issue de l’année 1, l’indice Euro Stoxx 50
enregistre une performance positive par rapport à son
niveau initial (+20%).



0

1

+20%

+7,00%

100%

Dans cet exemple, le produit est alors remboursé
par anticipation et l’investisseur reçoit le capital
investi augmenté de 7,00%, soit 107,00% (Taux de
Rendement Actuariel Annuel Brut de 6,79%).





Dans cet exemple, l’investisseur ne bénéficie pas
d’une éventuelle hausse de l’indice au-delà de
+7,00% du fait du mécanisme de plafonnement des
gains.

Que se passe-t-il si le producteur ne peut rembourser ce produit ?

Le producteur s’assure du remboursement du produit conformément à sa formule. Toutefois, en cas de défaut du
producteur, l’investisseur a un recours face au Garant Société Générale (Fitch A, Moody’s A2, Standard & Poor’s
A) afin de recevoir le montant qui lui est dû conformément à la formule du produit.

Quels sont les frais applicables à ce produit ?

Les rendements présentés dans ce document incluent déjà l’ensemble des frais de fonctionnement du
produit (pris en compte en amont lors de sa construction), indiqués ci-dessous. Ils n’incluent pas les
frais liés au cadre d’investissement dans lequel le produit est souscrit, ni la fiscalité applicable.

Frais de fonctionnement :

Commissions de distribution : Des commissions de distribution relatives à ce produit sont payées au
distributeur. Elles couvrent les coûts de distribution et sont d'un montant annuel maximum équivalent à 1% du
montant de l'émission.



Niveau
initial

Niveau
annuel

Frais liés au cadre d’investissement :



Des frais additionnels, propres à chaque distributeur et/ou dépositaire, peuvent être prélevés (ex : frais
d’entrée, frais de sortie, frais de gestion…). Ils sont variables selon le cadre d’investissement.



Le détail de ces frais et leur impact sur le rendement du produit vous sera transmis par votre conseiller sur
simple demande.

Combien de temps dois-je conserver ce produit et puis-je en sortir avant l’échéance ?

Ce produit présente une durée maximale de placement de 8 ans mais la durée de placement n’est pas connue à
l’avance (comprise entre 1 et 10 ans en fonction de l’évolution de l’indice Euro Stoxx 50).

Dans des conditions normales de marché, ce produit bénéficie d’une liquidité quotidienne avec une fourchette
achat/vente de 1%.

En cas de sortie avant l’échéance à l’initiative de l’investisseur, la valeur de revente du produit se fera à un prix
dépendant de l’évolution des paramètres de marché au moment de la sortie (notamment du cours de l’indice
sous-jacent, de sa volatilité et des taux d’intérêt et de refinancement de l’émetteur) et pourra donc entraîner un
risque de perte sur le capital investi.

Comment puis-je faire une réclamation?

Pour toute réclamation relative au contenu de ce document, vous pouvez contacter Société Générale Corporate
& Investment Banking - contact@contact.fr

Informations complémentaires

Vous pouvez obtenir des informations complémentaires sur ce produit auprès de votre conseiller.

Nous vous invitons à prendre contact avec lui afin de déterminer si ce produit est adapté à votre profil
d’investisseur et à vos objectifs d’investissement.